# Telegram Token
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ

# Telegram admin ids
WHITELIST_USER_IDS=123456789, 987654321

# TonAPI Master key (get it on https://tonapi.io in tab  TON API > API Keys)
# If leave blank it will have limit 1 request per second
TONAPI_KEY=your_master_tonapi_key_here

# polling interval
CHECK_INTERVAL=20
